<form method="POST" action="/login">
	User Name:<br>
		<input type="username" name="username"><br>
	Password:<br>
		<input type="password" name="password"><br>
	<button type="login" name="login">Log In</button><br>
</form>