<nav1>

<style>
  .conditional_form_part {
  	display: none;
  }
  .conditional_form_part_activator:checked + .conditional_form_part {
    display: block;
  }
</style>

  <ul>
    <li> <a href="/" title="Home">Home</a> </div>
    <li> <a href="/about" title="About">About</a> </li>
    <li> <a href="/contact" title="Contact">Contact</a> </li>
    <li> <a href="/students" title="Students">Students</a> </li>
    <li> <a href="/comments" title="Comments">Comments</a> </li>
    <li> <a href="/video" title="Video">Video</a> </li>
    <li> <a href="/login" title="Login">Login</a> </li>
    <li class="conditional_form_part"> <a href="/logout" title="Logout">Logout</a> </li>
   </ul>
</nav>